*.pyc
yarn-error.log
_modules
baka/assets/coverage/*
changelog.sh
.DS_Store
.coverage
_build
_static
_images
_modules
baka/bin/bakac
env_py3
.eggs
build
*.db
tmp
baka_config.py
local_config.py
env
dist
baka.egg-info/
app.db
*.bak
.idea
*.sqllite

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log
yarn.lock

rethinkdb
.cache